

@media (max-width: 650px){
    .Homedetails{
        display: flex;
        padding: 20px 10px !important;
        justify-content: center;
        flex-direction: column;
    }
    .information-section{
        width: 100% !important;
        padding: 0 20 !important;
        margin: 0 !important;
    }
    .title-name{
        font-size: 40px !important;
     }
    .button-container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .title-image-container{
        height: 50vh !important;
        width: 95% !important;
        
    }
    
    .title-image{
        width: 100% !important;
        height: 40vh !important;
        
    }
}