@media (max-width: 955px){
    .Homedetails{
        padding: 20px 10px;
        justify-content: center;
        flex-direction: column-reverse;
        
    }
    .img-fluid{
        width: max-content;
    }
}